@font-face {
    /* 폰트 이름정의  */
    font-family: 'digital-7-mono';
    src: url(font/digital-7mono.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    background: rgb(133, 132, 132);
    box-shadow: 
        4px 4px 8px rgba(0,0,0,0.5),
        0 0 8px rgba(0,0,0,0.7) inset;
    padding: 20px;
    height: 140px;
    /* 중앙배열  */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 30px;
    font-size: 90px;
    font-family: 'digital-7-mono', monospace;
}

.clock .container{
    display: flex;
}