@font-face {
    font-family: 'digital-7mono';
    src: url('font/digital-7mono.ttf');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .app > h2{
    
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: cadetblue;
    
  }

  .clock {
    background-image: url(개구리.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px, 40px;
    
    width: 605px;
    height: 435px;
    /* background: #999; */
    /* box-shadow: 
      4px 4px 6px rgba(0,0,0, 0.3),
      0 0 8px rgba(0,0,0,0.7) inset; */
    /* width: 400px; */
    /* height: 500px; */
    display: flex;
    /* padding: 30px; */
    justify-content: center;
    align-items: center;
    /* border: 10px solid #333; */
    /* border-radius: 50%; */
    font-size: 90px;
    
    font-family: 'digital-7mono', monospace;
  }
  
  .clock .container {
    display: flex;
    margin-top: 80px;

  }
  
  